{% extends "layout.html" %}

{% block title %}
    Assign
{% endblock %}

{% block main %}
<div class="main">
    <div class="center">
        <h2>Assign The Task</h2>
    </div>
    <div class="left">
        <hr>
        <form ation="/assign" method = "POST">
            <input type="text" autofocus name="task">
            <select name="assigned_to">
                {% for name in Names %}
                    <option value="{{ name['id'] }}">{{ name["name"] }}</option>
                {% endfor %}
            </select>
            <button type="submit"> Assign </button>
        </form>
    </div>
</div>
{% endblock %}
